.navbar__fix {
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-radius: 0;
}

.navbar__fix.ui.menu {
    border-radius: 0;
    border-top: 1px solid rgba(34, 36, 38, 0.1490196078431);
    border-left: none;
    border-right: none;
    box-shadow: 0 -2px 8px 0 rgba(00, 00, 00, 0.1)
}

.view__container {
    padding-bottom: 100px;
}

.activity__button {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    border-radius: 163px;
    padding: 22px;
    right: 46%;
    background: lightcoral;
    color: white;
    font-size: 30px;
}

.App {
    overflow: hidden;
}
