.navbar__fix {
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-radius: 0;
}

.navbar__fix.ui.menu {
    border-radius: 0;
    border-top: 1px solid rgba(34, 36, 38, 0.1490196078431);
    border-left: none;
    border-right: none;
    box-shadow: 0 -2px 8px 0 rgba(00, 00, 00, 0.1)
}

.view__container {
    padding-bottom: 100px;
}

.activity__button {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    border-radius: 163px;
    padding: 22px;
    right: 46%;
    background: lightcoral;
    color: white;
    font-size: 30px;
}

.slick-slide {
    margin: 20px 10px 0 -15px;
}

.slick-list {
    max-height: 250px;
    margin-bottom: 20px;
    padding: 0 !important;
}

.slick-dots li.slick-active button:before {
    color: #FF2D59;
}

.event__card__container {
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 130px;
    display: flex;
    overflow: hidden;
    font-size: 0.9rem;
}

.event__card__container p {
    margin-bottom: 0;
}

.event__card__container .event__card__image {
    max-width: 30%;
    min-width: 30%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    overflow: hidden;
}

.event__card__container .event__card__content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px 40px 20px 20px; */
    padding: 20px;
    width: 100%;
}

.event__card__content__wrapper .sub__info__wrapper {
    display: flex;
    justify-content: space-between;
}

.fake__background {
    background-color: rgba(0, 0, 0, 0.3); 
    width: 100vw;
    height: 25vh;
    z-index: 1;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.modal__view {
    background-color: #FCFCFC;
    width: 100vw;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 20vh;
    border-radius: 8px 8px 0 0;
}

.modal__view .container {
    padding-bottom: 7rem;
}

.ui.secondary.menu .active.item {
    background: #FF2D59 !important;
    color: white !important;
    font-weight: 600;
}

i.icon {
    margin: 0 !important
}

.truncate__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 95%;
}

.ui.segment.tab.active {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}

.ui.fluid.accordion {
    margin-bottom: 20px;
}

.ui.styled.accordion .title {
    color: white !important;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 500px) {
    .slider__image {
        height: 100% !important;
        width: auto !important;
        padding-right: 2rem;
    }
}

.back__button {
    background-color: #FCFCFC;
    border-radius: 100px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9;
    padding: 5px 5px 0 5px;
    cursor: pointer;
}

.points__container {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 65vh;
}

.points__container .points {
    margin-top: 45%;
    color: #FF4789;
}

.points__container .points h1 {
    font-size: 4rem;
}

.points__container .points span {
    margin-top: 50%;
    font-size: 1rem;
}

.App {
    overflow: hidden;
    background-color: #fcfcfc;
    min-height: 100vh;
}
